
.table td, .table th {
    border: #6395ff solid 1px;
    padding: 5px 10px;
}
.table tfoot {
    background-color: #5776b1;
    color: #fff;
    text-align: right   ;
}
.table thead {
    background-color: #dae1f8;
}
.table {
    border-collapse: collapse;
    width: 500px;
}
#footer{
	text-align: right;
}
